@charset "UTF-8";

/**
 * custom css 입니다. 추가적인 css 는 여기에 작성을 해주세요.
 */

#side {border:none;} 

#route {background:none; border-bottom:none; }
#route div { text-align:left; padding:13px 0 0 0; height:15px; }
#route div > span:first-child {padding-left:0;}

.mypage-lnb {padding-top:10px;}
.mypage-lnb h2 {color:#333333;}
.cs-lnb {padding-top:10px;}
.cs-lnb h2 {color:#333333;}

.mypage-page {padding:10px 0 0 30px;}
.cs-page {padding:10px 0 0 30px;}
.cs-page div:first-child {margin-top:0 !important;}

.mypage-lnb h2 {font-size:18px; padding:20px 0 20px 0; border-top: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6;}
.cs-lnb h2 {font-size:18px; padding:20px 0 20px 0;  border-top: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6;}

.cg-main > h2 { font-size:14px; padding:15px 0 5px; border-bottom: 1px solid #333333;}

.cg-main .lower-category {border:none;}

.view .goods-list {padding:20px 0 0 0;}

.view .goods-list .tc {font-size:12px;}
.view .goods-list .tc strong {color:#303030;}

.view .goods-list .align {margin-top:6px; border-top:1px solid #dadada;  padding:4px 0 5px; font-size:11px;}
.view .goods-list .align ul li {margin:0 8px 0 0;}
.view .goods-list .align .choice div {margin-right:0;}

.order-page .price-box{width:100%}
.item-display-wrap h2, .item-display h2{display:none;}

.cg-main .weekly-best {border:none; padding:0;}