/* 기본 폰트 지정 */
*
{
	font-family: 'Poppins', sans-serif;
}
/* 페이지 한 눈에 보기 쉽게 양 옆 빈 칸 조정 */
body
{
}

/*/////////////////////Header/////////////////////// */
.navbar-expand-lg
{
	background-color: #FCE4BD;
}
.navbar-brand img
{
	margin-top: -25px;
    margin-bottom: -35px;
    margin-left: 7px;
    height: 105px;

}
.navbar-nav
{
  	margin-left:auto; 
  	margin-right:0;
}
ul
{
	font-family: 'Poppins', regular;
	font-size:
}
a {
    color: #000;
    text-decoration: none;
}
a:hover
{
	background-color: transparent;
	color: #787878;
}
.collapse
{	
	margin-left: 15px;
	margin-top: -8px;
	margin-bottom: -30px;
}
/* 검색창 */
.form-inline
{
	margin: 0 auto;
	
}
.logo>ul
{
	list-style: none;
    margin: 10px;
    padding: 10px;
    max-width: 250px;
    width: 100%;
}
.logo>ul>li
{
	margin-right: 10px;
    padding: 0 0 0 0;
    border : 0;
    float: left;
}
.logo img
{
    margin-top: -8px;
	margin-left: 5px;
    width: 30px;
    height: 30px;
}
.logo
{
	margin-top: -13px;
}



