

/* @media screen and (max-width: 1280px) 
{
	*
} */
html
{
	scroll-behavior: smooth;
}

body
{
	line-height: 1.2;
    margin: 0;
    font-family: 'Roboto',sans-serif;
}


body {	
	line-height: 1.2;
    font-family: 'Roboto',sans-serif;
    margin: 0;

}

/*/////////////////////Header/////////////////////// */
.title 
{
    width: 100%;
    text-align: center;
}
.title img
{
    margin: -15px 0 -20px 15px;
    height: 200px;

}
.navbar-expand-lg
{
	background-color: #FCE4BD;
	padding: 20px;
}
.carousel-inner 
{
    margin-top: 30px;
}
.navbar-nav
{
  	margin-left:auto; 
  	margin-right:0;
}
.navbar-nav .nav-link 
{
    padding: 0 98px 0 0!important;
}
ul
{
	font-family: 'Roboto', regular;
	font-size:
}
a
{
    text-decoration: none;
    background-color: transparent;
}
a:hover
{
	background-color: transparent;
	color: #787878;
}
.collapse
{	
	margin-left: 15px;
    margin-top: -8px;
    margin-bottom: -13px;
}
ul.navbar-nav 
{
    margin-left: 65%;
}
.popular>i
{
	color: #FDCE31;
}
#category
{
    background: none repeat scroll 0 0 #FCE4BD;
    padding: 10px 0 10px 0;
    transition: all 0.5s;
    font-family: 'Jua', sans-serif;
    
}
.pet-category
{
	color: #DE6868!important;
	margin: 0 15px 0 15px;
}


/*//////////// scroll up ///////////////*/

.scroll
{
	margin: 0;
	padding: 0;
}
.gotopbtn
{
	position: fixed;
    width: 50px;
    height: 50px;
    background: #DE6868;
    bottom: 20px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
    z-index: 1;
    border-radius: 40px;
}


/* //////////scroll up 종료 ///////////////*/


/* sidebar */

#sidebar
{
	width: 14.3em;
    height: auto;
    margin: 20em auto 0;
	color: #fff;
	text-transform: uppercase;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -11em;
    z-index: 1;
}
#sidebar ul
{
	list-style: none;
	margin-left: 50px;
}
#sidebar ul li
{
	display: block;
	background: #FCE4BD;
	padding: 1em 1.5em;
	position: relative;
	transition: transform .5s;
}
#sidebar ul li:nth-child(1)
{
	background-color: #DE6868;
}

#sidebar ul li:hover
{
	transform: translateX(5em);
}
#sidebar ul li a
{
	display: block;
	color: #fff;
	text-decoration: none;
}
#sidebar ul li span
{
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	font-size: 1em;
	margin: 0 auto;
	padding: 1em;
	right: 0.167em;
}
/* sidebar 종료*/


.search-box
{
	position: absolute;
    top: 50%;
    right: 15%;
    transform: translate(0%,-50%);
    background: #DE6868;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.search-box:hover>.search-txt
{
	width: 240px;
	padding: 0 6px;
}
.search-box:hover>.search-btn
{
	background: #DE6868;
}

.search-btn
{
	color: #FCE4BD!important;
	float: right;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #DE6868;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
}
.search-txt
{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 20px;
	width: 0px;
}

.logo>ul
{
	list-style: none;
    margin: 10px;
    padding: 10px;
    max-width: 250px;
    width: 100%;
}
.logo>ul>li
{
	margin-right: 10px;
    padding: 0 0 0 0;
    border : 0;
    float: left;
}
.social-links
{
    margin-top: 5px;
    margin-bottom: -5px;
	margin-left: 2px;
}
/* 소셜미디어메뉴 */
#topbar .social-links 
{
    text-align: left;
}
#topbar 
{
	background: none repeat scroll 0 0;
    padding: 10px 0 10px 0;
    transition: all 0.5s;
    margin-right: 20px;
    margin-left: 20px;
}
#topbar a {
    color: #909090;
}
#topbar>a:hover
{
    text-decoration: none;
    color: #000;
}
#topbar .social-links a 
{
    color: #535074;
    padding: 4px 12px;
    display: inline-block;
    line-height: 1px;
}
.pet-category
{
	width: 100%;
    text-align: center;	
}
.pet-category>a 
{
    color: #DE6868;
    padding: 0 60px 0 60px;
    font-size: 20px;
}
.social-links a  
{
    color: #1bb1dc;
    transition: 0.5s;
}
.contactinfo a
{
	margin: 0px 5px 0 5px;
}
.contactinfo fa-envelope
{
	margin-left: 10px;
}
a:hover
{
    text-decoration: none;
    
}
.lo, .jo, .ca, .ev, .no, .ph, .en{
    margin: 0 10px 0 5px;
}
#fa
{
	padding-top: 1px;
}
.facebook, .twitter, .instagram, .google-plus
{
	margin: 0 10px 0 5px;
}
.login, .social-icons
{
	display: flex;
	justify-content: flex-end;
}
.facebook a:hover
{
	color: #344571!important;
	transition: 0.5s;
}
.twitter a:hover
{
	color: #50BFF6!important;
	transition: 0.5s;
}
.instagram a:hover
{
	color: #FC7702!important;
	transition: 0.5s;
}
.google-plus a:hover
{
	color: #E81E25!important;
	transition: 0.5s;
}

.col-sm-4 {
    margin-left: 50px;
    margin-right: -50px;
}

/*///////////////////////////////////// footer //////////////////////////////////////*/



@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

 .hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
} 

.darken-grey-text 
{
    color: #2E2E2E;
}
.row a {
    color: #000;
    font-family: 'Jua', sans-serif;
}
footer.page-footer 
{
	background-color: #FCE4BD!important;
    margin-top: 20px;
    padding-top: 20px;
    color: #DE6868;
    height: 180px;
    font-family: 'Jua', sans-serif;
}
footer.page-footer .call-to-action 
{
    text-align: center;
    padding-top: 1.3rem;
    padding-bottom: .5rem;
}
footer.page-footer ul, ul.instagram-photos 
{
    list-style-type: none;
    padding: 0;
}
.divider-new, body, h1, h2, h3, h4, h5, h6 
{
    font-weight: 300;
}
#footer {
    position: relative;
    margin-bottom: 0px;
    padding: 0;
    overflow: hidden;
    
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
footer.page-footer .footer-copyright 
{
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: rgba(255,255,255,.6);
    background-color: rgba(0,0,0,.2);
    text-align: center;
    font-size: .9rem;
}

/*////////////////////////////////// Popular ///////////////////////////////////////*/

.bd-example 
{
	text-align: center;
	position: relative;
    padding: 2rem;
    border-width: .2rem;
    
}


/*///////////////////////////////////////////////////////////////*/

.pet
{
	text-align: center;
	margin-right: 50px;
}

/* carousel */
.carousel {
    position: relative;
}