<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.MinsuMapper">
 
<!--  <insert id="insert">
   insert into test_goods(goodsNum, goodsName, goodsId, goodsMainUrl, goodsUrl, goodsDate, goodsInfo) 
   values(#{goodsNum}, #{goodsName}, #{goodsId}, #{goodsMainUrl}, #{goodsUrl}, #{goodsDate}, #{goodsInfo})
 </insert>

 <select id="getList_delete" resultType="com.spring.domain.GoodsVO">
  select * from test_goods
 </select> -->
</mapper>